<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projeto_acg.Properties.Settings.BD_ACGConnectionString"
            connectionString="Data Source=lenovo-l340\sqlexpress;Initial Catalog=BD_ACG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>